aioredis==2.0.1
alembic==1.13.1
annotated-types==0.6.0
anyio==4.3.0
appscript==1.2.0
async-timeout==4.0.3
bcrypt==4.1.3
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.1.7
cloudmersive-convert-api-client==3.2.5
cython
dnspython==2.6.1
docopt==0.6.2
docx2pdf==0.1.8
docxcompose==1.3.4
docxtpl==0.16.0
ecdsa==0.19.0
email_validator==2.1.1
et-xmlfile==1.1.0
exceptiongroup==1.2.1
fastapi==0.1.17
fastapi-cache2==0.2.1
fastapi-cli==0.0.3
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==3.2
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.2
lxml==4.8.0
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.1
mdurl==0.1.2
mosestokenizer==1.2.1
openfile==0.0.7
openpyxl==3.0.9
orjson==3.10.3
osascript==2020.12.3
packaging==24.0
passlib==1.7.4
pendulum==3.0.0
Pillow==9.1.0
pluggy==1.5.0
psutil==5.9.0
pyasn1==0.6.0
pydantic==2.5.2
pydantic-extra-types==2.7.0
pydantic-settings==2.2.1
pydantic_core==2.14.5
Pygments==2.18.0
PyMySQL==1.1.0
pytest==8.2.0
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.9
python-pptx==0.6.21
PyYAML==6.0.1
requests==2.26.0
rich==13.7.1
rsa==4.9
runcmd==2020.12.3
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.30
starlette==0.37.2
time-machine==2.14.1
tomli==2.0.1
toolwrapper==2.1.0
tqdm==4.62.2
typer==0.12.3
typing_extensions==4.11.0
tzdata==2024.1
uctools==1.3.0
ujson==5.10.0
urllib3==1.26.6
uvicorn==0.29.0
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0
XlsxWriter==3.0.3
